@using WebTeknolojileriveProgramlama.Models;
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<div>
    <p>ViewData</p>
    @ViewData["PersonelSayisi"]
</div>

<hr />
<div>
    <p>ViewBag</p>
    @ViewBag.PersonelSayisi2
</div>
<hr />

<div>
    <p>Tempdata</p>
    @TempData["PersonelSayisi3"]
    <br />

    @TempData["Personel3"]
</div>

<hr />
<div>
    <p>Tempdata dan dönüştürme sonucu viewbag</p>
    @((ViewBag.Personel as Personel).Maas)
</div>

